<app-card [title]="'Users Management'">
    
    <div class="form-group">
        <button type="button" class="btn btn-success btn-round"  placement="bottom" (click)="addUser()">Add new User</button>
    </div>

    <div class="form-group">
        <input type="text" class="form-control form-control-normal" placeholder="Search by surname"  [(ngModel)]="surname" (ngModelChange)="search($event)">
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Credit</th>
                <th>role</th>
                <th> Action </th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let user of users">
                <th scope="row">{{ user._id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.credit }}</td>
                <td>{{ user.role }}</td>
                <td>
                     <button type="button" class="btn btn-success btn-round"  placement="bottom" [ngbPopover]="successContent" (click)="updateUser(user)">update</button>
                     <button type="button" class="btn btn-danger btn-round"  placement="bottom" [ngbPopover]="successContent" (click)="deleteUser(user._id)">delete</button>
                    </td>
              </tr>
              
              </tbody>
            </table>
          </div>
    </div>
</app-card>


<app-modal-basic #Modal >
    <div class="app-modal-header">
         <h4>{{ text }}</h4> 
    </div>
    <div class="app-modal-body">  

        <ng-template [ngIf]="update">
            <form [formGroup]="userForm" (ngSubmit)="onUpdate()">

            
                <div class="form-group">
                    <input type="text" class="form-control form-control-normal" placeholder="Name"  formControlName="name" >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-normal" placeholder="Surname" formControlName="surname" >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-normal" placeholder="Company id" formControlName="companyId" >
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-normal" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control form-control-normal" placeholder="Phone" formControlName="phone">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control form-control-normal" placeholder="credit" formControlName="credit" >
                </div>
                <div class="form-group">
                    <select class="form-control form-control-normal" formControlName="role">
                        
                        <option value="costumer" [selected] = "user.role === 'costumer'">Costumer</option>
                        <option value="admin" [selected] = "user.role === 'admin'">Admin</option>
                        <option value="delivery" [selected] = "user.role === 'delivery'">Delivery</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-round"  placement="bottom" [ngbPopover]="successContent"  >update</button>
                </div>
                
            </form>
        </ng-template>
        
        <ng-template [ngIf]="!update">
           
            <form [formGroup]="userForm" (ngSubmit)="createUser()">
                <div class="form-group">
                    <input type="text" class="form-control form-control-normal" placeholder="Name"  formControlName="name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-normal" placeholder="Surname" formControlName="surname" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-normal" placeholder="password" formControlName="password" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-normal" placeholder="Company id" formControlName="companyId" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-normal" placeholder="Email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control form-control-normal" placeholder="Phone" formControlName="phone" required>
                </div>
                
                <div class="form-group">
                    <select class="form-control form-control-normal" placeholder="Role" formControlName="role" required>
                        
                        <option value="costumer" >Costumer</option>
                        <option value="admin">Admin</option>
                        <option value="delivery">Delivery</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-round"  placement="bottom" [ngbPopover]="successContent"  >Create</button>
                </div>
            </form>
        </ng-template>
        
    </div>
    <div class="app-modal-footer"></div>
    
</app-modal-basic>

<ng2-toasty [position]="position"></ng2-toasty>

